[Unit]
;opis unitu
Description = "opis"
;nazwa unitu
Name = "nazwa"
; rozpoczyna po posiadaniu sieci
Wants=network-online.target
After=network-online.target
[Service]
;rozpoczęcie procesu
ExecStart = /usr/bin/exprogram.out
;typ procesu
Type = simple

[Install]
;moment uruchomienia po dodaniu do autostartu
WantedBy = multi-user.target