[Unit]
;opis unitu
Description = "opis"
;nazwa unitu
Name = "nazwa"
; rozpoczyna po posiadaniu sieci
Wants=network-online.target
After=network-online.target
[Service]
;rozpoczęcie procesu
ExecStart = echo a
;zatrzymanie prcesu
;ExecStop = 
Type = simple